.card {
  background-color: var(--surface-color);
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  text-decoration: none;
  /* Hacemos que la tarjeta ocupe todo el alto disponible en su celda del grid */
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border-color: var(--primary-color);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Contenedor relativo para que la etiqueta (absolute) se quede dentro de la imagen */
.imageContainer {
  position: relative;
  width: 100%;
}

/* Estilos fijos de la etiqueta. El fondo (background-color) se lo inyecta React */
.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.title {
  padding: 1.2rem;
  font-size: 1.1rem;
  color: var(--text-color);
  margin: 0;
  text-align: center;

  /* Estas 3 líneas hacen la magia para que el contenedor crezca y el texto se centre verticalmente */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
